body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('backimg.jpg');
  }
  
  .calculator {
    background-color: grey;
    height: 400px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  .calculator h1{
    background-color: aliceblue;
  }
  
  #display {
    width: 97%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    color: green;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
    background-color: aliceblue;
  }
  
  button:active {
    background-color: aliceblue;
  }
  button:hover{
    color: grey;
  }